<agm-map [latitude]="lat" [longitude]="lng" [zoom]="11">
  <!-- <agm-marker [latitude]="points.admin.lat" [longitude]="points.admin.lng" [label]="points.admin.name"></agm-marker> -->
  <agm-circle [latitude]="lat" [longitude]="lng" [radius]="1500"></agm-circle>
  <agm-polygon [paths]="paths">
  </agm-polygon>

  <agm-polygon [paths]="paths2" [strokeColor]="'#0078CF'">
  </agm-polygon>

  <agm-marker 
    *ngFor="let p of points"
    [latitude]="p.lat"
    [longitude]="p.lng">
      
    <agm-info-window>
      <strong>{{p.label}}</strong>
      <p>{{p.masInfo}}</p>
    </agm-info-window>
    
  </agm-marker>
</agm-map>
