mat-toolbar{
  z-index: 1000;
}

.scroll {
  height: calc(100vh - 168px);
  overflow: auto;
}

.spacer {
    flex: 1 1 auto;
}

img.logo{
    height: 5em;
    position: absolute;
    top: 0;
    left: 0;
}

img.photo{
    border-radius: 50%;
    height: 50px;
}

div.container,
footer {
    height: calc(50vh - 64px);
}

@supports (-webkit-overflow-scrolling: touch) {
  .scroll {
    height: calc(100vh - 112px);
  }
}
