.spacer {
    flex: 1 1 auto;
}

.subheader{
    display: flex;
    margin: 5px;
}

mat-sidenav{
    display: flex;
    flex-direction: column;
}

mat-sidenav-container{
    height: 100%;
}

.mat-icon-button,
.mat-icon-button .mat-icon{
    font-size:48px !important;
    height: 48px !important;
    width:48px !important;
    line-height:48px !important;
    display: block !important;
}

.user img {
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

mat-button-toggle{
    position: absolute;
    right: 0;
    z-index: inherit;
}